*~
*.log*
log_*
*.err
err_*
*.pdf
*.csv
*.RData
*.png
*.rdb
*.Rds
.DS_STORE
*.DS_Store*
.RData
.Rhistory
.Rproj.user
*.Rproj
*.rdx
*oauth
*.jar
*.xls*
*.Rd
*.jpeg
*.tsv
*.zip
*.pyc
.ipynb_checkpoints/
*.slo
*.lo
*.o
*.obj
*.exe
*.out
*.app
.DS_Store
.txt
.env
.vscode
.jpg
.png
.wav
.flac
